.heading{
	font-family: 'roboto', sans-serif !   important;
      font-size:15px;
      padding:0px 0px 10px 6%;
      color:grey;
}
.datas{
	font-family: 'roboto', sans-serif !   important;
      font-size:17px;
      padding-left:6%;
      color:#333333;
}